{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft Graph \u2014 SharePoint Pages",
        "description": "SharePoint subset of the Microsoft Graph v1.0 OpenAPI specification (generated from graphexplorer.yaml).",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0/sites"
        }
    ],
    "tags": [
        {
            "name": "sites.baseSitePage",
            "x-ms-docs-toc-type": "page"
        }
    ],
    "paths": {
        "/{siteId}/pages": {
            "description": "Provides operations to manage the pages property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "List baseSitePages",
                "description": "Get the collection of baseSitePage objects from the site pages list in a site. All pages in the site are returned (with pagination). Sort alphabetically by name in ascending order. The following table lists the available subtypes.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/basesitepage-list?view=graph-rest-1.0"
                },
                "operationId": "ListPages",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "createdBy",
                                    "createdBy desc",
                                    "createdDateTime",
                                    "createdDateTime desc",
                                    "description",
                                    "description desc",
                                    "eTag",
                                    "eTag desc",
                                    "lastModifiedBy",
                                    "lastModifiedBy desc",
                                    "lastModifiedDateTime",
                                    "lastModifiedDateTime desc",
                                    "name",
                                    "name desc",
                                    "parentReference",
                                    "parentReference desc",
                                    "webUrl",
                                    "webUrl desc",
                                    "pageLayout",
                                    "pageLayout desc",
                                    "publishingState",
                                    "publishingState desc",
                                    "title",
                                    "title desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "pageLayout",
                                    "publishingState",
                                    "title",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.baseSitePageCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Create a page in the site pages list of a site",
                "description": "Create a new sitePage in the site pages list in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/sitepage-create?view=graph-rest-1.0"
                },
                "operationId": "CreatePages",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BaseSitePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseSitePage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/pages"
            ]
        },
        "/{siteId}/pages/{baseSitePageId}": {
            "description": "Provides operations to manage the pages property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get baseSitePage",
                "description": "Get the metadata for a baseSitePage in the site pages list in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/basesitepage-get?view=graph-rest-1.0"
                },
                "operationId": "GetPages",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "pageLayout",
                                    "publishingState",
                                    "title",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseSitePage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Delete baseSitePage",
                "description": "Delete a baseSitePage from the site pages list in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/basesitepage-delete?view=graph-rest-1.0"
                },
                "operationId": "DeletePages",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Update the navigation property pages in sites",
                "operationId": "UpdatePages",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BaseSitePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully updating the specified site page navigation property."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/createdByUser": {
            "description": "Provides operations to manage the createdByUser property of the microsoft.graph.baseItem entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get createdByUser from sites",
                "description": "Identity of the user who created the item. Read-only.",
                "operationId": "GetPageCreator",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "deletedDateTime",
                                    "aboutMe",
                                    "accountEnabled",
                                    "ageGroup",
                                    "assignedLicenses",
                                    "assignedPlans",
                                    "authorizationInfo",
                                    "birthday",
                                    "businessPhones",
                                    "city",
                                    "companyName",
                                    "consentProvidedForMinor",
                                    "country",
                                    "createdDateTime",
                                    "creationType",
                                    "customSecurityAttributes",
                                    "department",
                                    "deviceEnrollmentLimit",
                                    "displayName",
                                    "employeeHireDate",
                                    "employeeId",
                                    "employeeLeaveDateTime",
                                    "employeeOrgData",
                                    "employeeType",
                                    "externalUserState",
                                    "externalUserStateChangeDateTime",
                                    "faxNumber",
                                    "givenName",
                                    "hireDate",
                                    "identities",
                                    "identityParentId",
                                    "imAddresses",
                                    "interests",
                                    "isManagementRestricted",
                                    "isResourceAccount",
                                    "jobTitle",
                                    "lastPasswordChangeDateTime",
                                    "legalAgeGroupClassification",
                                    "licenseAssignmentStates",
                                    "mail",
                                    "mailboxSettings",
                                    "mailNickname",
                                    "mobilePhone",
                                    "mySite",
                                    "officeLocation",
                                    "onPremisesDistinguishedName",
                                    "onPremisesDomainName",
                                    "onPremisesExtensionAttributes",
                                    "onPremisesImmutableId",
                                    "onPremisesLastSyncDateTime",
                                    "onPremisesProvisioningErrors",
                                    "onPremisesSamAccountName",
                                    "onPremisesSecurityIdentifier",
                                    "onPremisesSyncEnabled",
                                    "onPremisesUserPrincipalName",
                                    "otherMails",
                                    "passwordPolicies",
                                    "passwordProfile",
                                    "pastProjects",
                                    "postalCode",
                                    "preferredDataLocation",
                                    "preferredLanguage",
                                    "preferredName",
                                    "print",
                                    "provisionedPlans",
                                    "proxyAddresses",
                                    "responsibilities",
                                    "schools",
                                    "securityIdentifier",
                                    "serviceProvisioningErrors",
                                    "showInAddressList",
                                    "signInActivity",
                                    "signInSessionsValidFromDateTime",
                                    "skills",
                                    "state",
                                    "streetAddress",
                                    "surname",
                                    "usageLocation",
                                    "userPrincipalName",
                                    "userType",
                                    "activities",
                                    "adhocCalls",
                                    "agreementAcceptances",
                                    "appRoleAssignments",
                                    "authentication",
                                    "calendar",
                                    "calendarGroups",
                                    "calendars",
                                    "calendarView",
                                    "chats",
                                    "cloudClipboard",
                                    "cloudPCs",
                                    "contactFolders",
                                    "contacts",
                                    "createdObjects",
                                    "dataSecurityAndGovernance",
                                    "deviceManagementTroubleshootingEvents",
                                    "directReports",
                                    "drive",
                                    "drives",
                                    "employeeExperience",
                                    "events",
                                    "extensions",
                                    "followedSites",
                                    "inferenceClassification",
                                    "insights",
                                    "joinedTeams",
                                    "licenseDetails",
                                    "mailFolders",
                                    "managedAppRegistrations",
                                    "managedDevices",
                                    "manager",
                                    "memberOf",
                                    "messages",
                                    "oauth2PermissionGrants",
                                    "onenote",
                                    "onlineMeetings",
                                    "onPremisesSyncBehavior",
                                    "outlook",
                                    "ownedDevices",
                                    "ownedObjects",
                                    "people",
                                    "permissionGrants",
                                    "photo",
                                    "photos",
                                    "planner",
                                    "presence",
                                    "registeredDevices",
                                    "scopedRoleMemberOf",
                                    "settings",
                                    "solutions",
                                    "sponsors",
                                    "teamwork",
                                    "todo",
                                    "transitiveMemberOf"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities",
                                    "adhocCalls",
                                    "agreementAcceptances",
                                    "appRoleAssignments",
                                    "authentication",
                                    "calendar",
                                    "calendarGroups",
                                    "calendars",
                                    "calendarView",
                                    "chats",
                                    "cloudClipboard",
                                    "cloudPCs",
                                    "contactFolders",
                                    "contacts",
                                    "createdObjects",
                                    "dataSecurityAndGovernance",
                                    "deviceManagementTroubleshootingEvents",
                                    "directReports",
                                    "drive",
                                    "drives",
                                    "employeeExperience",
                                    "events",
                                    "extensions",
                                    "followedSites",
                                    "inferenceClassification",
                                    "insights",
                                    "joinedTeams",
                                    "licenseDetails",
                                    "mailFolders",
                                    "managedAppRegistrations",
                                    "managedDevices",
                                    "manager",
                                    "memberOf",
                                    "messages",
                                    "oauth2PermissionGrants",
                                    "onenote",
                                    "onlineMeetings",
                                    "onPremisesSyncBehavior",
                                    "outlook",
                                    "ownedDevices",
                                    "ownedObjects",
                                    "people",
                                    "permissionGrants",
                                    "photo",
                                    "photos",
                                    "planner",
                                    "presence",
                                    "registeredDevices",
                                    "scopedRoleMemberOf",
                                    "settings",
                                    "solutions",
                                    "sponsors",
                                    "teamwork",
                                    "todo",
                                    "transitiveMemberOf"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/createdByUser",
                "/sites/{site-id}/lists/{list-id}/createdByUser",
                "/sites/{site-id}/lists/{list-id}/items/{listItem-id}/createdByUser",
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/createdByUser",
                "/sites/{site-id}/pages/{baseSitePage-id}/microsoft.graph.sitePage/createdByUser"
            ]
        },
        "/{siteId}/pages/{baseSitePageId}/createdByUser/mailboxSettings": {
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get mailboxSettings property value",
                "description": "Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.",
                "operationId": "GetPageCreatorMailbox",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "archiveFolder",
                                    "automaticRepliesSetting",
                                    "dateFormat",
                                    "delegateMeetingMessageDeliveryOptions",
                                    "language",
                                    "timeFormat",
                                    "timeZone",
                                    "userPurpose",
                                    "workingHours"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entity result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MailboxSettings"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Update property mailboxSettings value.",
                "operationId": "UpdatePageCreatorMailbox",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MailboxSettings"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns no content upon successfully updating the mailboxSettings property of the page's creating user."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/createdByUser/serviceProvisioningErrors": {
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get serviceProvisioningErrors property value",
                "description": "Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object.  Supports $filter (eq, not, for isResolved and serviceInstance).",
                "operationId": "ListPageCreatorServiceErrors",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "createdDateTime",
                                    "createdDateTime desc",
                                    "isResolved",
                                    "isResolved desc",
                                    "serviceInstance",
                                    "serviceInstance desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "createdDateTime",
                                    "isResolved",
                                    "serviceInstance"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                }
            }
        },
        "/{siteId}/pages/{baseSitePageId}/createdByUser/serviceProvisioningErrors/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get the number of the resource",
                "operationId": "GetPageCreatorServiceErrorsCount",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of service provisioning errors for the user who created the specified site page."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/lastModifiedByUser": {
            "description": "Provides operations to manage the lastModifiedByUser property of the microsoft.graph.baseItem entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get lastModifiedByUser from sites",
                "description": "Identity of the user who last modified the item. Read-only.",
                "operationId": "GetPageModifier",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "deletedDateTime",
                                    "aboutMe",
                                    "accountEnabled",
                                    "ageGroup",
                                    "assignedLicenses",
                                    "assignedPlans",
                                    "authorizationInfo",
                                    "birthday",
                                    "businessPhones",
                                    "city",
                                    "companyName",
                                    "consentProvidedForMinor",
                                    "country",
                                    "createdDateTime",
                                    "creationType",
                                    "customSecurityAttributes",
                                    "department",
                                    "deviceEnrollmentLimit",
                                    "displayName",
                                    "employeeHireDate",
                                    "employeeId",
                                    "employeeLeaveDateTime",
                                    "employeeOrgData",
                                    "employeeType",
                                    "externalUserState",
                                    "externalUserStateChangeDateTime",
                                    "faxNumber",
                                    "givenName",
                                    "hireDate",
                                    "identities",
                                    "identityParentId",
                                    "imAddresses",
                                    "interests",
                                    "isManagementRestricted",
                                    "isResourceAccount",
                                    "jobTitle",
                                    "lastPasswordChangeDateTime",
                                    "legalAgeGroupClassification",
                                    "licenseAssignmentStates",
                                    "mail",
                                    "mailboxSettings",
                                    "mailNickname",
                                    "mobilePhone",
                                    "mySite",
                                    "officeLocation",
                                    "onPremisesDistinguishedName",
                                    "onPremisesDomainName",
                                    "onPremisesExtensionAttributes",
                                    "onPremisesImmutableId",
                                    "onPremisesLastSyncDateTime",
                                    "onPremisesProvisioningErrors",
                                    "onPremisesSamAccountName",
                                    "onPremisesSecurityIdentifier",
                                    "onPremisesSyncEnabled",
                                    "onPremisesUserPrincipalName",
                                    "otherMails",
                                    "passwordPolicies",
                                    "passwordProfile",
                                    "pastProjects",
                                    "postalCode",
                                    "preferredDataLocation",
                                    "preferredLanguage",
                                    "preferredName",
                                    "print",
                                    "provisionedPlans",
                                    "proxyAddresses",
                                    "responsibilities",
                                    "schools",
                                    "securityIdentifier",
                                    "serviceProvisioningErrors",
                                    "showInAddressList",
                                    "signInActivity",
                                    "signInSessionsValidFromDateTime",
                                    "skills",
                                    "state",
                                    "streetAddress",
                                    "surname",
                                    "usageLocation",
                                    "userPrincipalName",
                                    "userType",
                                    "activities",
                                    "adhocCalls",
                                    "agreementAcceptances",
                                    "appRoleAssignments",
                                    "authentication",
                                    "calendar",
                                    "calendarGroups",
                                    "calendars",
                                    "calendarView",
                                    "chats",
                                    "cloudClipboard",
                                    "cloudPCs",
                                    "contactFolders",
                                    "contacts",
                                    "createdObjects",
                                    "dataSecurityAndGovernance",
                                    "deviceManagementTroubleshootingEvents",
                                    "directReports",
                                    "drive",
                                    "drives",
                                    "employeeExperience",
                                    "events",
                                    "extensions",
                                    "followedSites",
                                    "inferenceClassification",
                                    "insights",
                                    "joinedTeams",
                                    "licenseDetails",
                                    "mailFolders",
                                    "managedAppRegistrations",
                                    "managedDevices",
                                    "manager",
                                    "memberOf",
                                    "messages",
                                    "oauth2PermissionGrants",
                                    "onenote",
                                    "onlineMeetings",
                                    "onPremisesSyncBehavior",
                                    "outlook",
                                    "ownedDevices",
                                    "ownedObjects",
                                    "people",
                                    "permissionGrants",
                                    "photo",
                                    "photos",
                                    "planner",
                                    "presence",
                                    "registeredDevices",
                                    "scopedRoleMemberOf",
                                    "settings",
                                    "solutions",
                                    "sponsors",
                                    "teamwork",
                                    "todo",
                                    "transitiveMemberOf"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities",
                                    "adhocCalls",
                                    "agreementAcceptances",
                                    "appRoleAssignments",
                                    "authentication",
                                    "calendar",
                                    "calendarGroups",
                                    "calendars",
                                    "calendarView",
                                    "chats",
                                    "cloudClipboard",
                                    "cloudPCs",
                                    "contactFolders",
                                    "contacts",
                                    "createdObjects",
                                    "dataSecurityAndGovernance",
                                    "deviceManagementTroubleshootingEvents",
                                    "directReports",
                                    "drive",
                                    "drives",
                                    "employeeExperience",
                                    "events",
                                    "extensions",
                                    "followedSites",
                                    "inferenceClassification",
                                    "insights",
                                    "joinedTeams",
                                    "licenseDetails",
                                    "mailFolders",
                                    "managedAppRegistrations",
                                    "managedDevices",
                                    "manager",
                                    "memberOf",
                                    "messages",
                                    "oauth2PermissionGrants",
                                    "onenote",
                                    "onlineMeetings",
                                    "onPremisesSyncBehavior",
                                    "outlook",
                                    "ownedDevices",
                                    "ownedObjects",
                                    "people",
                                    "permissionGrants",
                                    "photo",
                                    "photos",
                                    "planner",
                                    "presence",
                                    "registeredDevices",
                                    "scopedRoleMemberOf",
                                    "settings",
                                    "solutions",
                                    "sponsors",
                                    "teamwork",
                                    "todo",
                                    "transitiveMemberOf"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/lastModifiedByUser",
                "/sites/{site-id}/lists/{list-id}/items/{listItem-id}/lastModifiedByUser",
                "/sites/{site-id}/lists/{list-id}/lastModifiedByUser",
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/lastModifiedByUser",
                "/sites/{site-id}/pages/{baseSitePage-id}/microsoft.graph.sitePage/lastModifiedByUser"
            ]
        },
        "/{siteId}/pages/{baseSitePageId}/lastModifiedByUser/mailboxSettings": {
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get mailboxSettings property value",
                "description": "Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.",
                "operationId": "GetPageModifierMailbox",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "archiveFolder",
                                    "automaticRepliesSetting",
                                    "dateFormat",
                                    "delegateMeetingMessageDeliveryOptions",
                                    "language",
                                    "timeFormat",
                                    "timeZone",
                                    "userPurpose",
                                    "workingHours"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entity result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MailboxSettings"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Update property mailboxSettings value.",
                "operationId": "UpdatePageModifierMailbox",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MailboxSettings"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns no content upon successfully updating the mailboxSettings property of the page's last modifying user."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/lastModifiedByUser/serviceProvisioningErrors": {
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get serviceProvisioningErrors property value",
                "description": "Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object.  Supports $filter (eq, not, for isResolved and serviceInstance).",
                "operationId": "ListPageModifierServiceErrors",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "createdDateTime",
                                    "createdDateTime desc",
                                    "isResolved",
                                    "isResolved desc",
                                    "serviceInstance",
                                    "serviceInstance desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "createdDateTime",
                                    "isResolved",
                                    "serviceInstance"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                }
            }
        },
        "/{siteId}/pages/{baseSitePageId}/lastModifiedByUser/serviceProvisioningErrors/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get the number of the resource",
                "operationId": "GetPageModifierServiceErrorsCount",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of service provisioning errors for the user who last modified the specified site page."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/microsoft.graph.sitePage": {
            "description": "Casts the previous resource to sitePage.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get SitePage",
                "description": "Returns the metadata for a sitePage in the site pages list in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/sitepage-get?view=graph-rest-1.0"
                },
                "operationId": "GetSitePage",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "pageLayout",
                                    "publishingState",
                                    "title",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entity result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SitePage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/{siteId}/pages/{baseSitePageId}/microsoft.graph.sitePage/canvasLayout": {
            "description": "Provides operations to manage the canvasLayout property of the microsoft.graph.sitePage entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get canvasLayout from sites",
                "description": "Indicates the layout of the content in a given SharePoint page, including horizontal sections and vertical sections.",
                "operationId": "GetSitePageCanvasLayout",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "horizontalSections",
                                    "verticalSection"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "horizontalSections",
                                    "verticalSection"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanvasLayout"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Delete navigation property canvasLayout for sites",
                "operationId": "DeleteSitePageCanvasLayout",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully deleting the canvas layout of the specified site page."
            },
            "patch": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Update the navigation property canvasLayout in sites",
                "operationId": "UpdateSitePageCanvasLayout",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanvasLayout"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully updating the canvas layout navigation property of the specified site page."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/microsoft.graph.sitePage/canvasLayout/horizontalSections": {
            "description": "Provides operations to manage the horizontalSections property of the microsoft.graph.canvasLayout entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get horizontalSections from sites",
                "description": "Collection of horizontal sections on the SharePoint page.",
                "operationId": "ListHorizontalSections",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "emphasis",
                                    "emphasis desc",
                                    "layout",
                                    "layout desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "emphasis",
                                    "layout",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.horizontalSectionCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Create new navigation property to horizontalSections for sites",
                "operationId": "CreateHorizontalSection",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HorizontalSection"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HorizontalSection"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the newly created horizontal section added to the canvas layout of the specified site page."
            }
        },
        "/{siteId}/pages/{baseSitePageId}/microsoft.graph.sitePage/canvasLayout/horizontalSections/{horizontalSectionId}": {
            "description": "Provides operations to manage the horizontalSections property of the microsoft.graph.canvasLayout entity.",
            "get": {
                "tags": [
                    "sites.baseSitePage"
                ],
                "summary": "Get horizontalSections from sites",
                "description": "Collection of horizontal sections on the SharePoint page.",
                "operationId": "GetHorizontalSection",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "baseSitePageId",
                        "in": "path",
                        "description": "The unique identifier of baseSitePage",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "baseSitePage"
                    },
                    {
                        "name": "horizontalSectionId",
                        "in": "path",
                        "description": "The unique identifier of horizontalSection",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "horizontalSection"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "emphasis",
                                    "layout",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
[...]
